body {
    background-color: #FFF8F0;
}

h1 {
    text-align: center;
    color: #92DCE5;
}

h2 ,p{
    margin: auto;
}



input {
    width: 30%;
    border:2px soild;
    border-radius: 5px;
    border-color:#92DCE5;
    padding: 10px;
    margin: 15px;
}