body {
    background-color: #FFF9F1;
    margin: 40px 10%;
}

h1 {
    text-align: center;
    color: #92DCE5;
    
}

pre {
    background-color: #E2DCD6;
    border:1px dotted;
    border-radius: 20px;
    padding: 20px;
}

form {
    text-align: center;
}

input {
    
    width: 30%;
    border:2px soild;
    border-radius: 5px;
    border-color:#92DCE5;
    padding: 10px;
    margin: 10px 32%;
}
