.board {
  display: grid;
  gap: 1px;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #999999;
  background-color: #9DD9D2;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.revealed {
  background-color: #F4D06F;
}